apiVersion: v1
kind: Service
metadata:
  name: application-service-nodeport
spec:
  type: NodePort
  selector:
    app: application-service
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30007
