apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: application-service
  template:
    metadata:
      labels:
        app: application-service
    spec:
      containers:
      - name: application-service
        image: us-central1-docker.pkg.dev/hcl-devops-hackathon-486008/hackathon-repo/application-service:latest
        ports:
        - containerPort: 3000
